<p-card *ngIf="entry" styleClass="ui-card-shadow">
  <p-header *ngIf="entry.coverUrl">
    <div>
      <div class="tags">
        <p *ngIf="entry.expert" class="tag tagExpert">Expert</p>
        <p *ngIf="entry.featured" class="tag tagFeatured">Pick of the Week</p>
        <p *ngIf="entry.spotlighted" class="tag tagSpotlighted">Staff Pick</p>
      </div>
      <img class="cover-image" [src]="entry.coverUrl" [alt]="entry.coverCaption">
    </div>
  </p-header>
  <div>
    <div class="ui-card-title" [title]="entry.title">
      {{ entry.title }}
    </div>
    <div class="ui-card-subtitle">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="avatar-image" [src]="entry.avatarUrl" [alt]="Avatar">
        <span>{{ entry.userFullName }}</span>
      </div>
    </div>
    {{ entry.description }}
  </div>
  <p-footer>
    <div class="footer" fxLayout="row" fxLayoutGap="12px">
      <div class="date"><i class="pi pi-calendar"></i><span>{{ entry.lastUpdate }}</span></div>
      <div fxFlex></div>
      <div class="views"><i class="fas fa-eye"></i><span>{{ entry.views }}</span></div>
      <div class="likes"><i class="fas fa-heart"></i><span>{{ entry.likes }}</span></div>
    </div>
  </p-footer>
</p-card>